<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isetkl.application_produiteshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".confirmephomme4"></activity>
        <activity android:name=".confirmephomme3" />
        <activity android:name=".confirmephomme2" />
        <activity android:name=".confirmephomme1" />
        <activity android:name=".confirmepfemme4" />
        <activity android:name=".confirmepfemme3" />
        <activity android:name=".confirmepfemme2" />
        <activity android:name=".confirmepfemme1" />
        <activity android:name=".homme" />
        <activity android:name=".femme" />
        <activity android:name=".typeparfume" />
        <activity android:name=".confirme_fard3" />
        <activity android:name=".confirme_fard2" />
        <activity android:name=".cofirme_fard1" />
        <activity android:name=".confirme_mascara3" />
        <activity android:name=".confirme_mascara2" />
        <activity android:name=".confirme_mascara1" />
        <activity android:name=".confirme_rouge4" />
        <activity android:name=".confirme_rouge3" />
        <activity android:name=".confirme_rouge2" />
        <activity android:name=".confirme_rouge1" />
        <activity android:name=".fard" />
        <activity android:name=".mascara" />
        <activity android:name=".rouge" />
        <activity android:name=".typemaquillage" />
        <activity android:name=".confirme_pongle4" />
        <activity android:name=".confirme_pongle3" />
        <activity android:name=".confirme_pongle2" />
        <activity android:name=".confirme_pongle1" />
        <activity android:name=".confirme_vernis4" />
        <activity android:name=".confirme_vernis3" />
        <activity android:name=".confirme_vernis2" />
        <activity android:name=".confirme_vernis1" />
        <activity android:name=".ongle" />
        <activity android:name=".typemanucure" />
        <activity android:name=".vernis" />
        <activity android:name=".confirme_masque4" />
        <activity android:name=".confirme_masque3" />
        <activity android:name=".confirme_masque2" />
        <activity android:name=".confirme_masque1" />
        <activity android:name=".confirme_shapooin4" />
        <activity android:name=".confirme_shapooin3" />
        <activity android:name=".confirme_shapooin2" />
        <activity android:name=".confirm_shpooin1" />
        <activity android:name=".confirme_color4" />
        <activity android:name=".confirme_color3" />
        <activity android:name=".confirme_color2" />
        <activity android:name=".confirme_color1" />
        <activity android:name=".coloration" />
        <activity android:name=".masque" />
        <activity android:name=".shapooin" />
        <activity android:name=".confirmation" />
        <activity android:name=".huile_noble" />
        <activity android:name=".typecoiffure" />
        <activity android:name=".huilecorps" />
        <activity android:name=".huilevisage" />
        <activity android:name=".typehuile" />
        <activity android:name=".categorie_deProduit" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>